<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.welovekids.mathforkids">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.welovemaths.mathforkids.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.welovemaths.mathforkids.QuestionActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName="com.welovemaths.mathforkids.MainActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.welovemaths.mathforkids.SettingsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName="com.welovemaths.mathforkids.MainActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.welovemaths.mathforkids.ScoreActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName="com.welovemaths.mathforkids.MainActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.welovemaths.mathforkids.AchievementActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName="com.welovemaths.mathforkids.MainActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name="com.welovemaths.mathforkids.GameOverActivity">

        </activity>
        <activity
            android:name="com.welovemaths.mathforkids.AboutActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName="com.welovemaths.mathforkids.MainActivity"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>